.mainContainer {
    border: 2;
    z-index: 10 !important;
    height: 100vh;
    width: 50vw;
    /* padding: 0 10%; */
    background-color: rgb(250, 250, 250);
    position: absolute;
    right: 0%;
    overflow-y: scroll;
}

.mainDarkContainer {
    border: 2;
    z-index: 10 !important;
    height: 100vh;
    width: 50vw;
    background-color: rgb(22, 22, 22);
    position: absolute;
    right: 0%;
    overflow-y: scroll;
}

.form {
    display: grid;
    gap: 10px;
}

.dorpContainer {
    display: grid;
    margin-top: 2%;
    margin-bottom: 20px;
    color: rgb(138, 138, 138);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1%;
    border: 2px dotted brown;
}

.crossButton {
    float: right;
    padding-right: 20px !important;
}

.getLinkButton {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 25px;
}

@media (max-width: 800px) {
    .mainContainer {
        width: 100vw;
    }
    .mainDarkContainer {
        width: 100vw;
    }
    .productPadding {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.productPadding {
    padding-left: 50px;
    padding-right: 50px;
}

.stepper {
    width: 100%;
}

.stepAction {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fields {
    display: flex;
    row-gap: 2px;
    flex-direction: column;
}

.imageCross {
    cursor: pointer;
    position: absolute;
    right: 0;
}